@mixin text-style($color, $font-size, $font-family) {
    color: $color;
    font-size: $font-size;
    font-family: $font-family;
}

$primary-color: #458541;

.texts {
    h1 {
        @include text-style(#ff4043, 34px, Arial)
    }
    p {
        @include text-style($primary-color, 22px, -sans-serif)
    }
}