* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: black;
}
.iconrock-red {
    width: 40px;
}
.logo-onebitcode {
    width: 200px;
}
.buttons {
    display: flex;
    gap: 10px;
}
.buttonHead {
    font-size: 20px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border-color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.4s;
}
.buttonHead:hover {
    background-color: #ff0044;
    
}

